name: SonarQube Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Java
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Run SonarQube analysis
      uses: sonarsource/sonarqube-scan-action@v2
      with:
        sonar-project-key: sample
        sonar-project-name: sample
        sonar-host-url: http://65.2.126.99:9000
        sonar-login: ${{ env.SONAR_TOKEN }}
